<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.appspot.TabbedLayout"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    			android:debuggable="true">
    	<uses-library android:name="com.google.android.maps" />
        <activity android:name=".TabbedLayout"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait"
                  >
                  <!--  Hide keyboard?
                  android:configChanges="orientation|keyboardHidden|keyboard" -->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelloGoogleMaps"></activity>
        <activity android:name=".ArtistsActivity"></activity>
        <activity android:name=".AlbumsActivity"></activity>
        <activity android:name=".CaloriesActivity"></activity>
        <activity android:name=".MotionActivity"></activity>
        <activity android:name=".LoginMenu" 
                  android:screenOrientation="portrait"
        ></activity>
        <activity android:name=".AccountInfo"
                  android:screenOrientation="portrait"></activity>

    </application>

<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
<uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

<uses-sdk android:minSdkVersion="8"/>
</manifest> 